:host {
  display: block;
  height: 100%;
  flex-grow: 1;
}

.main-calendar-area {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}