$Palette: (
  Common: (
    Surfaces: (
      surface-1: #0f1115,
      surface-2: #1a1d24,
      surface-3: #17181e,
      border: #2e3342
    )
  ),
  Theme: (
    Colors: (
      primary: #4f46e5,
      primary-hover: #4338ca
    ),
    Whites: (
      main: #ffffff,
      secondary: #a0aabf
    )
  )
);
